<!DOCTYPE html>
<%- include('partials/header', {title: "Home Page"}) %> 
<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin: 20px; 
  }

</style>
</head>
<body>
  <%-include("partials/navbars/user")%>

  <div class="container">
        <h1>Edit Profile</h1>
        <div class="card mb-3 shadow-lg round" style="max-width: 1000px;">
            <div class="row g-0 align-items-center m-2 p-2 ">
              <div class="col-md-4">
                <img src="<%= data.profilePicture%>" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body p-4 justify-content-center text-center border m-2">
                    <form action="/profile/edit" method="post">
                        <label>Your Name</label><br><br>
                        <input type="text" name='name' value="<%= data.name %>"> <br><br>
                
                        <label>Your Gender</label><br>
                        <input type="radio"  name="gender" value="male" <%= "male" === data.gender ? 'checked' : '' %>>
                        <label >Male</label><br>
                        <input type="radio"  name="gender" value="female" <%= "female" === data.gender ? 'checked' : '' %>>
                        <label >Female</label><br><br>
                
                        <label>Phone Number:</label><br>
                        <input type="text" name="noTelepon" value="<%= data.noTelepon %>"><br><br>
                        <label>Your address:</label><br>
                        <textarea name="address" id="" cols="30" rows="5"><%= data.address %></textarea><br><br>
                        <label>Profile picture URL link:</label><br>
                        <input type="text" name="profilePicture" value="<%= data.profilePicture %>"><br><br>
                        
                        <button type="submit" class="btn btn-warning"> Edit</button>
                    </form>
              </div>
            </div>
          </div>
    
    </div>
    
</body>
</html>