<!DOCTYPE html>
<%- include('partials/header', {title: "Home Page"}) %> 
<style>
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

</style>

</head>
<body>
  <%-include("partials/navbars/user")%>

  <div class="home">
    <% if (userNotFound) { %>
      <div><%= userNotFound %>  </div>

    <% } %>

    <%data.forEach (el => {%>
      <div class="card p-2 m-2 bg-success" style="width: 35rem;" >
        <h4 class="card-title"><%=el.User.username%> </h4>
        <p class="card-title"><%= postedTime(el.createdAt)%> </p>
        <img src="<%=el.imgUrl%>" class="card-img-top"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=el.title%></h5>
          <%if (el.TagId === el.Tag.id ) {%>
          <p class="card-text">#<%=el.Tag.name%></p>
        </div>
      </div>
      <%}%>
    <%})%>
  </div>



</body>
</html>