<!DOCTYPE html>
<%- include('partials/header', {title: "Home Page"}) %> 
<style>
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

</style>

</head>
<body>
  <%-include("partials/navbars/user")%>

  <div class="home">
    

    <%data.Posts.forEach (el => {%>
      <div class="card p-2 m-2 bg-success" style="width: 35rem;" >
        <h4 class="card-title"><%=data.username%> </h4>
        <p class="card-title"><%= postedTime(el.createdAt)%> </p>
        <img src="<%=el.imgUrl%>" class="card-img-top"  alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%=el.title%></h5>
            <form action="/post/editpost/<%= el.id %>">
            <input type="submit" value="Edit Post" />
            </form>
            <form action="/post/deletepost/<%= el.id %>">
                <input type="submit" value="Delete Post" />
                </form>
          <p class="card-text"><%=el.Tag.name%></p>
        </div>
      </div>
      
    <%})%>
  </div>



</body>
</html>